<div class="class-join">
    <div class="class-join-header">
        <div class="btn-cancel">
            <a (click)="onNoClick()"><i class="fa fa-times"></i></a>
            <span>Join class</span>
        </div>
        <div class="btn-join">
            <button>Join</button>
        </div>
    </div>
    <div class="class-join-body">
        <div class="class-join-code">
            <label>Class code</label>
            <span>Ask your teacher for the class code, then enter it here.</span>
            <input type="text" placeholder="Class code">
        </div>
    </div>
</div>
