<app-header></app-header>
<section class="grades">
    <table>
        <tr>
            <td class="column-name">
                <div class="sort-student">Sort by first name</div>
            </td>
            <td class="column-point">
                <div class="assignment-block">
                    <div class="top-block">
                        <div class="top-left-block">
                            <div class="deadline-block">No die date</div>
                            <div class="assignment-name">
                                <a href="">bai tap 1</a>
                            </div>
                        </div>
                        <div class="top-right-block">
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <div class="max-point">
                        <span>out of 100</span>
                    </div>
                </div>
            </td>
            <td class="column-point">
                <div class="assignment-block">
                    <div class="top-block">
                        <div class="top-left-block">
                            <div class="deadline-block">No die date</div>
                            <div class="assignment-name">
                                <a href="">bai tap 1</a>
                            </div>
                        </div>
                        <div class="top-right-block">
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <div class="max-point">
                        <span>out of 100</span>
                    </div>
                </div>
            </td>
            <td class="column-point">
                <div class="assignment-block">
                    <div class="top-block">
                        <div class="top-left-block">
                            <div class="deadline-block">No die date</div>
                            <div class="assignment-name">
                                <a href="">bai tap 1</a>
                            </div>
                        </div>
                        <div class="top-right-block">
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <div class="max-point">
                        <span>out of 100</span>
                    </div>
                </div>
            </td>
            <td class="column-end"></td>
        </tr>
        <tr>
            <td class="column-name">
                <div class="class-average">
                    <i class="fas fa-user-friends"></i>
                    <span>Class average</span>
                </div>
            </td>
            <td class="column-point"></td>
            <td class="column-point"></td>
            <td class="column-point"></td>
            <td class="column-end"></td>
        </tr>
        <tr>
            <td class="column-name">
                <div class="student-name">
                    <div class="avatar-class ">
                        <img src="/assets/images/icon-class.png " alt=" ">
                    </div>
                    <span>ngoc anh</span>
                </div>
            </td>
            <td class="column-point">
                <input type="text" placeholder="/100">
            </td>
            <td class="column-point">
                <input type="text" placeholder="/100">
            </td>
            <td class="column-point">
                <input type="text" placeholder="/100">
            </td>
            <td class="column-end"></td>
        </tr>
    </table>
</section>
