<div class="assigment" id="assigment" role="tablist" aria-multiselectable="true" (clickOutside)="clickedOutsideAssignmentDetail($event)">
    <div class="assignment-header">
        <a data-toggle="collapse" href="#collapse1ad" aria-expanded="false" aria-controls="collapse1ad">
            <div class="assignment-name">
                <div class="assignment-icon">
                    <i class="far fa-file-alt"></i>
                </div>
                <span>asdasdasdad</span>
            </div>
            <div class="right-block">
                <span class="span6"> Posted Mar 7</span>
            </div>
        </a>
        <div class="btn-option-edit" id="btn-option-edit" role="tablist" aria-multiselectable="true" (clickOutside)="clickedOutsideAssignmentEditionBlock($event)" *ngIf="(role == 'teacher')">
            <a data-toggle="collapse" href="#collapse1te" aria-expanded="false" aria-controls="collapse1te">
                <i class="fas fa-ellipsis-v"></i>
            </a>
            <div class="tap-edition collapse" id="collapse1te" data-parent="#btn-option-edit">
                <a [routerLink]="['/class-detail/classwork/:id/edition']" routerLinkActive="active">
                    <span>Edit</span>
                </a>
                <a>
                    <span>Delete</span>
                </a>
            </div>
        </div>
    </div>
    <div class="assignment-detail collapse" id="collapse1ad" data-parent="#assigment">
        <div class="assignment-detail-body">
            <div class="post-date">
                Posted Mar 7
            </div>
            <div class="assignment-content">
                <div>asdsdfwfuwh</div>
                <div class="turnin-assign">
                    <div class="turnin divide">
                        <span class="span1">0</span>
                        <br>
                        <span>Turned in</span>
                    </div>
                    <div class="assign divide">
                        <span class="span1">1</span>
                        <br>
                        <span>Assigned</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="assignment-comment" id="comment" role="tablist" aria-multiselectable="true">
            <a (click)="openClassComment()">1 class comment</a>
        </div>
        <div class="assignment-detail-footer">
            <a>View assignment</a>
        </div>
    </div>
</div>