<div class="announcement">
    <div class="announcement-header">
        <div class="announcement-information">
            <div class="assignment-icon">
                <i class="far fa-file-alt"></i>
            </div>
            <div class="announcement-assignment-name">
                <span>ngo anh posted a new material: asdasdasdad</span>
                <br>
                <span class="span6">Mar 7</span>
            </div>
        </div>
        <div class="btn-option-edit">
            <i class="fas fa-ellipsis-v"></i>
        </div>
    </div>
    <div class="announcement-assignment-footer">
        <a (click)="openClassComment()">1 class comment</a>
    </div>
</div>