<div class="announcement ">
    <div class="announcement-header-block ">
        <div class="announcement-header ">
            <div class="announcement-information ">
                <div class="author-avatar ">
                    <img src="/assets/images/avatar.jpg " alt=" ">
                </div>
                <div class="author-name ">
                    <span>ngoc anh</span>
                    <br>
                    <span class="span6 ">Mar 7</span>
                </div>
            </div>
            <div class="btn-option-edit ">
                <i class="fas fa-ellipsis-v "></i>
            </div>
        </div>
        <div class="author-announcement-content ">
            okeokeokeoekeokeoe
        </div>
    </div>
    <div class="announcement-body ">
        <div class="quantity-comment ">
            <i class="fas fa-user-friends "></i>
            <span>1 lass comment</span>
        </div>
        <div class="announcement-header ">
            <div class="announcement-information ">
                <div class="author-avatar ">
                    <img src="/assets/images/avatar.jpg " alt=" ">
                </div>
                <div class="author-name ">
                    <span>ngoc anh   </span>
                    <span class="span6 ">Mar 7</span>
                </div>
            </div>
            <div class="btn-option-edit ">
                <i class="fas fa-ellipsis-v "></i>
            </div>
        </div>
        <div class="author-announcement-content ">
            okeokeokeoekeokeoe
        </div>
    </div>
    <div class="announcement-footer ">
        <div class="author-avatar ">
            <img src="/assets/images/avatar.jpg " alt=" ">
        </div>
        <div class="input-content ">
            <input type="text ">
            <i class="fas fa-paper-plane "></i>
        </div>
    </div>
</div>