<div class="popup-content">
    <div class="comment-block ">
        <div class="comment-block-header ">
            Class comments
        </div>
        <div class="comment-block-body ">
            <div class="quantity-comment ">
                <i class="fas fa-user-friends "></i>
                <span>1 lass comment</span>
            </div>
            <div class="comment-header ">
                <div class="comment-information ">
                    <div class="author-avatar ">
                        <img src="/assets/images/avatar.jpg " alt=" ">
                    </div>
                    <div class="author-name ">
                        <span>ngoc anh   </span>
                        <span class="span6 ">Mar 7</span>
                    </div>
                </div>
                <div class="btn-option-edit ">
                    <i class="fas fa-ellipsis-v "></i>
                </div>
            </div>
            <div class="author-comment-content ">
                okeokeokeoekeokeoe
            </div>
            <div class="comment-block-footer announcement-footer ">
                <div class="author-avatar ">
                    <img src="/assets/images/avatar.jpg " alt=" ">
                </div>
                <div class="input-content ">
                    <input type="text ">
                    <i class="fas fa-paper-plane "></i>
                </div>
            </div>
        </div>
    </div>
</div>