<div class="class-edition popup-content">
    <div class="popup-edition-block">
        <div class="popup-edition">
            <label for="">Edit class</label>
            <form action="">
                <div class="input-block">
                    <label for="">Class name (required)</label>
                    <input type="text" value="Class name (required)">
                </div>
                <div class="input-block">
                    <label for="">Section</label>
                    <input type="text" value="Section">
                </div>
                <div class="input-block">
                    <label for="">Subject</label>
                    <input type="text" value="Subject">
                </div>
                <div class="input-block">
                    <label for="">Room</label>
                    <input type="text" value="Room">
                </div>
            </form>
            <div class="btn-block">
                <button class="btn"><a (click)="onNoClick()">Cancel</a></button>
                <button class="btn btn-edit" type="submit">Edit</button>
            </div>
        </div>
    </div>
</div>