/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container-small {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 70%
}

@media (min-width:576px) {
    .container-small {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .container-small {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .container-small {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .container-small {
        max-width: 1140px
    }
}


/* announcement */

.announcement {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    margin-bottom: 30px
}

.announcement .announcement-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 25px;
}

.announcement .announcement-header .announcement-information {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.announcement .announcement-header .assignment-icon {
    width: 40px;
    height: 40px;
    background-color: rgb(229, 37, 146);
    text-align: center;
    padding-top: 7px;
    border-radius: 50%;
    color: #fff;
}

.announcement .announcement-header .announcement-assignment-name {
    padding-left: 20px;
    letter-spacing: .01785714em;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #3c4043;
}

.announcement .announcement-header .announcement-assignment-name .span6 {
    letter-spacing: .025em;
    font-family: Roboto, Arial, sans-serif;
    font-size: 0.75rem !important;
    font-weight: 400;
    line-height: 1rem;
    color: #5f6368;
}

.announcement .announcement-assignment-footer {
    border-top: 1px solid #e0e0e0;
    padding: 15px 25px;
}

.announcement .announcement-assignment-footer a {
    text-decoration: none;
    color: #3c4043;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.25rem;
}

.announcement .announcement-assignment-footer a:hover {
    color: rgb(229, 37, 146);
}

.announcement-header-block {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e0e0e0;
}

.author-avatar {
    width: 40px;
    height: 40px;
    border-radius: 25px;
    display: flex;
    overflow: hidden;
    text-align: center;
}

.author-avatar img {
    width: 100%;
}

.author-name {
    padding-left: 20px;
    letter-spacing: .01785714em;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #3c4043;
}

.author-name .span6 {
    letter-spacing: .025em;
    font-family: Roboto, Arial, sans-serif;
    font-size: 0.75rem !important;
    font-weight: 400;
    line-height: 1rem;
    color: #5f6368;
}

.author-announcement-content {
    padding-left: 25px;
    padding-bottom: 25px;
}

.announcement-body {
    border-bottom: 1px solid #e0e0e0;
}

.quantity-comment {
    padding-left: 25px;
    padding-top: 25px;
}

.quantity-comment i {
    color: #5f6368;
    font-size: 20px;
    font-weight: 900;
    padding-right: 10px;
}

.quantity-comment span {
    letter-spacing: .01785714em;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.25rem;
    color: #3c4043;
}

.announcement-footer {
    padding: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.input-content {
    width: 100%;
    position: relative;
}

.input-content input {
    width: 100%;
    border: 1px solid #e0e0e0;
    height: 35px;
    border-radius: 20px;
    margin-left: 10px;
    color: rgba(0, 0, 0, .24);
}

.input-content input:focus {
    border: 1px solid #e0e0e0;
    outline: 0;
}

.input-content .fa-paper-plane {
    position: absolute;
    color: #5f6368;
    font-size: 20px;
    top: 7px;
    right: 15px;
}


/* assignment */

.assigment {
    margin: 10px 0;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
}

.assignment-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    border-bottom: 1px solid #e0e0e0;
}

.assignment-header:hover {
    border: 1px solid #e0e0e0;
    box-shadow: 1px 0 10px -5px #888;
    border-radius: 10px;
}

.assignment-header a {
    letter-spacing: .01785714em;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 0.875rem;
    font-weight: 550;
    line-height: 1.25rem;
    color: #3c4043;
    text-decoration: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btn-option-edit {
    padding: 15px 20px;
    border-radius: 50%;
}

.btn-option-edit:hover {
    background-color: rgb(224, 224, 224);
}

.tap-edition {
    position: absolute;
    width: 100%;
    max-width: 10rem;
    background-color: #fff;
}

.tap-edition a {
    color: #5f6368;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    max-width: 15rem;
    width: 100%;
}

.tap-edition a:hover {
    background-color: rgb(224, 224, 224);
}

.assignment-name {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.assignment-name .assignment-icon {
    width: 40px;
    height: 40px;
    background-color: rgb(229, 37, 146);
    text-align: center;
    padding-top: 7px;
    border-radius: 50%;
    color: #fff;
    padding-top: 10px;
}

.assignment-name .assignment-icon i {
    font-size: 0.875rem;
    font-weight: 900;
}

.assignment-name span {
    padding-left: 10px
}

.span6 {
    letter-spacing: .025em;
    font-family: Roboto, Arial, sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1rem;
    padding-right: 10px
}

.right-block {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.right-block a {
    text-decoration: none;
    color: #3c4043;
}

.assignment-detail-body {
    letter-spacing: .025em;
    font-family: Roboto, Arial, sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1rem;
    color: #5f6368;
    display: flex;
    flex-direction: column;
    padding: 20px
}

.assignment-detail-body .post-date {
    margin-bottom: 10px
}

.assignment-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.turnin-assign {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.turnin-assign .span1 {
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 2.75rem;
    color: #3c4043;
}

.turnin-assign .divide {
    border-left: 1px solid #e0e0e0;
    padding: 15px
}

.assignment-comment {
    border-top: 1px solid #e0e0e0;
    padding: 15px 25px;
}

.assignment-comment a {
    text-decoration: none;
    color: #3c4043;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.25rem;
}

.assignment-comment a:hover {
    color: rgb(229, 37, 146);
}

.assignment-detail-footer {
    padding: 25px;
    border-top: 1px solid #e0e0e0;
}

.assignment-detail-footer a {
    text-decoration: none;
    color: rgb(184, 6, 114);
    padding: 10px;
    border-radius: 5px;
}

.assignment-detail-footer a:hover {
    background-color: rgb(184, 6, 114, 0.2);
}


/* popup */

.popup-content {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 18rem;
    transform: translate(-50%, -50%);
    max-width: 45rem;
    width: 100%;
    z-index: 1000;
    outline: 0;
    box-shadow: 1px 0 20px -2px #888;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: white;
}


/* assignment creation */

.assignment-creation {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    background-color: #f8f9fa;
}

.assignment-creation .assignment-creation-header {
    border-bottom: 1px solid #dadce0;
    display: flex;
    flex-direction: row;
    padding: 10px 30px;
    justify-content: space-between;
    align-items: center;
    color: #5f6368;
    font-family: Roboto, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 20px;
    z-index: 1000000;
    position: relative;
    background-color: #fff;
}

.assignment-creation .assignment-creation-header a {
    color: #5f6368;
}

.assignment-creation .assignment-creation-header a .fa-times {
    padding: 15px;
}

.assignment-creation .assignment-creation-header .fa-times:hover {
    background-color: rgb(224, 224, 224, 0.4);
    border-radius: 20px;
    color: #5f6368
}

.btn-cancel {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
}

.title-block i {
    background-color: rgb(184, 6, 114, 0.5);
    padding: 10px 12px;
    border-radius: 50%;
    color: #fff;
}

.assignment-creation .assignment-creation-header span {
    padding-left: 10px;
}

.assignment-creation .assignment-creation-header button {
    outline: 0;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: #5f6368;
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.assignment-creation-option-bar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 100000;
    border: 1px solid #e0e0e0;
    background-color: #fff;
}

.option-bar {
    top: 120px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.option-bar .select-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
}

.dropdown {
    width: 200px;
    padding-right: 20px;
}

input {
    border: 1px solid #e0e0e0;
    height: 40px;
    border-radius: 5px;
}

input:focus {
    outline: 0;
}

.assignment-creation-body {
    width: 100%;
    max-width: 60rem;
    margin: auto;
    top: 50px;
    position: relative;
    border: 1px solid #e0e0e0;
    padding: 30px;
    border-radius: 10px;
    background-color: #fff;
}

.assignment-creation-body input {
    width: 100%;
    border: none;
    height: 50px;
    background-color: #f8f9fa;
    padding: 10px;
    border-bottom: 1px solid #5f6368;
    margin-bottom: 20px;
}